In [39]:
import pandas as pd
from scraper import search_options, page_driver
from bs4 import BeautifulSoup
from selenium import webdriver
import time

# drop unnamed columns 
# drop duplicates
# drop 'Proj. Time' column
# drop any 'Duo' 

# questions
# should I convert to seconds or minutes?
# does the sub division matter? VI, MI,

In [33]:
url = 'http://registration.baa.org/2018/cf/Public/iframe_ResultsSearch.cfm?mode=entry'
html = page_driver(url)
divisions, gender, states, countries = search_options(html)
divisions

['18-39 Age Group',
 '40-44 Age Group',
 '45-49 Age Group',
 '50-54 Age Group',
 '55-59 Age Group',
 '60-64 Age Group',
 '65-69 Age Group',
 '70-74 Age Group',
 '75-79 Age Group',
 '80+ Age Group']

In [44]:
data_storage = {'Bib': [],
             'Name': [],
             'Age': [],
             'M/F': [],
             'City':[],
             'State': [],
             'Country': [],
             'Citizen': [],
             'Blank': [],
             '5K': [],
             '10K': [],
             '15K': [],
             '20K': [],
             'Half': [],
             '25K': [],
             '30K': [],
             '35K': [],
             '40K': [],
             'Pace': [],
             'Proj. Time': [],
             'Official Time': [],
             'Overall': [],
             'Gender': [],
             'Division': []
            }

In [43]:
def scrape_results(page):
    '''This function takes the html from the page, extracts
    the table data and stores it in an external dictionary.
    '''

    soup = BeautifulSoup(page, "lxml")

    info_headers = ['Bib', 'Name', 'Age', 'M/F', 'City', 'State',
                    'Country', 'Citizen', 'Blank']

    result_headers = ['5K', '10K', '15K', '20K', 'Half', '25K',
                      '30K', '35K', '40K', 'Pace', 'Proj. Time',
                      'Official Time', 'Overall', 'Gender', 'Division']

    # scrape each participants info
    racer_info = soup.findAll("tr", {"class": "tr_header"})
    for i, racer in enumerate(racer_info):
        for key, val in zip(info_headers, racer_info[i].find_all('td')):
            data_storage[key] += [val.text.strip()]

    # scrape each participants results
    race_times = soup.findAll("table", {"class": "table_infogrid"})
    for i, time in enumerate(race_times):
        for key, val in zip(result_headers, race_times[i].find_all('td')):
            data_storage[key] += [val.text.strip()]

def scrape_by_state(states, divisions):
    '''Scrape the race results based on the state runner is from.'''

    url = 'http://registration.baa.org/2018/cf/Public/iframe_ResultsSearch.cfm'
    driver = webdriver.Chrome()
    driver.get(url)
    max_limit = 1000

    for state in ['Massachusetts', 'California', 'New York', 'Texas']:
        for division in divisions:
            division_option = driver.find_element_by_name("AwardsDivisionID")
            division_option.send_keys(division)
            state_option = driver.find_element_by_name("StateID")
            state_option.send_keys(state)
            limit = driver.find_element_by_name("VarTargetCount")
            limit.send_keys(max_limit)

            try:
                xpath1 = '//*[@id="PublicSearch"]/div/div/input'
                submit_button = driver.find_elements_by_xpath(xpath1)[0]
                time.sleep(3)
                submit_button.click()
                scrape_results(driver.page_source)
            except IndexError:
                xpath4 = '/html/body/div/div/div/div/table[2]/tbody/tr/td[1]/form/input'
                search_again = driver.find_elements_by_xpath(xpath4)[0]
                time.sleep(3)
                search_again.click()
                continue

            try:
                xpath2 = ('/html/body/div/div/div/div/table[4]/tbody/tr/td/'
                          'table/tbody/tr[51]/td/table/tbody/tr/td[2]/form/input[2]')
                next_button = driver.find_elements_by_xpath(xpath2)[0]
                time.sleep(3)
                next_button.click()
                scrape_results(driver.page_source)
            except IndexError:
                xpath4 = '/html/body/div/div/div/div/table[2]/tbody/tr/td[1]/form/input'
                search_again = driver.find_elements_by_xpath(xpath4)[0]
                time.sleep(3)
                search_again.click()
                continue

            xpath3 = ('/html/body/div/div/div/div/table[3]/tbody/tr/td/table/tbody'
                      '/tr[51]/td/table/tbody/tr/td[2]/form/input[2]')
            while True:
                try:
                    next_button = driver.find_elements_by_xpath(xpath3)[0]
                    time.sleep(3)
                    next_button.click()
                    scrape_results(driver.page_source)
                except IndexError:
                    xpath4 = '/html/body/div/div/div/div/table[2]/tbody/tr/td[1]/form/input'
                    search_again = driver.find_elements_by_xpath(xpath4)[0]
                    time.sleep(3)
                    search_again.click()
                    break

In [46]:
# states = ['Massachusetts', 'California', 'New York', 'Texas']
# scrape_by_state(states, divisions)
supplement = pd.DataFrame(data_storage)
supplement.to_csv('supplement_2018.csv')
df18_extra = pd.read_csv('supplement_2018.csv')
print(df18_extra.shape)
df18_extra.head()

(6841, 25)

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Blank,...,25K,30K,35K,40K,Pace,Proj. Time,Official Time,Overall,Gender,Division
0,0,48,"Vassallo, Daniel",32,M,Peabody,MA,USA,NaN,NaN,...,1:24:41,1:42:37,2:00:56,2:19:23,0:05:39,NaN,2:27:50,10,10,10
1,1,248,"Herzig, Matthew",22,M,Brookline,MA,USA,NaN,NaN,...,1:24:45,1:42:29,2:00:45,2:19:23,0:05:39,NaN,2:27:55,12,12,12
2,2,46,"Ayr, Jason",30,M,Brighton,MA,USA,NaN,NaN,...,1:24:41,-,2:00:58,2:20:41,0:05:43,NaN,2:29:53,22,22,21
3,3,51,"Mindel, Scott",31,M,Burlington,MA,USA,NaN,NaN,...,1:25:48,1:44:01,2:02:40,2:22:41,0:05:50,NaN,2:32:48,30,30,29
4,4,137,"Zhou, Fan",29,M,Boston,MA,USA,NaN,NaN,...,1:29:32,1:47:44,2:06:08,2:24:28,0:05:50,NaN,2:32:50,31,31,30

In [3]:
df15 = pd.read_csv('data/marathon_results_2015.csv')
df16 = pd.read_csv('data/marathon_results_2016.csv')
df17 = pd.read_csv('data/marathon_results_2017.csv')
df18 = pd.read_csv('data/marathon_results_2018.csv')
print(df18.shape)
df18.head()

(19884, 25)

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Blank,...,25K,30K,35K,40K,Pace,Proj. Time,Official Time,Overall,Gender,Division
0,0,189,"Ash, Alan",26,M,Atmore,AL,USA,NaN,NaN,...,1:31:16,1:50:19,2:09:22,2:28:08,0:05:58,NaN,2:36:04,63,63,59
1,1,855,"Goodman, John Mark",38,M,Birmingham,AL,USA,NaN,NaN,...,1:34:33,1:53:49,2:13:27,2:33:06,0:06:11,NaN,2:41:52,187,186,173
2,2,1049,"Mcclung, Joshua",34,M,Birmingham,AL,USA,NaN,NaN,...,1:35:31,1:55:14,2:15:14,2:34:45,0:06:15,NaN,2:43:42,247,246,226
3,3,303,"Graham, James",26,M,Birmingham,AL,USA,NaN,NaN,...,1:33:09,1:52:29,2:13:49,2:37:17,0:06:23,NaN,2:47:07,385,377,346
4,4,5267,"Pierce, Nathaniel",31,M,Huntsville,AL,USA,NaN,NaN,...,1:40:23,2:00:42,2:21:22,2:41:26,0:06:30,NaN,2:50:19,608,593,536

In [13]:
# find duplicates
df18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19884 entries, 0 to 19883
Data columns (total 25 columns):
Unnamed: 0       19884 non-null int64
Bib              19884 non-null object
Name             19884 non-null object
Age              19884 non-null int64
M/F              19884 non-null object
City             19884 non-null object
State            15847 non-null object
Country          19884 non-null object
Citizen          1113 non-null object
Blank            85 non-null object
5K               19884 non-null object
10K              19884 non-null object
15K              19884 non-null object
20K              19884 non-null object
Half             19884 non-null object
25K              19884 non-null object
30K              19884 non-null object
35K              19884 non-null object
40K              19884 non-null object
Pace             19884 non-null object
Proj. Time       192 non-null object
Official Time    19884 non-null object
Overall          19884 non-null int64
Gender           19884 non-null int64
Division         19884 non-null int64
dtypes: int64(5), object(20)
memory usage: 3.8+ MB

In [25]:
# df18['Blank'].value_counts()
df18[df18['State'] == 'MA']  # .value_counts()

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Blank,...,25K,30K,35K,40K,Pace,Proj. Time,Official Time,Overall,Gender,Division
5528,5528,48,"Vassallo, Daniel",32,M,Peabody,MA,USA,NaN,NaN,...,1:24:41,1:42:37,2:00:56,2:19:23,0:05:39,NaN,2:27:50,10,10,10
5529,5529,248,"Herzig, Matthew",22,M,Brookline,MA,USA,NaN,NaN,...,1:24:45,1:42:29,2:00:45,2:19:23,0:05:39,NaN,2:27:55,12,12,12
5530,5530,46,"Ayr, Jason",30,M,Brighton,MA,USA,NaN,NaN,...,1:24:41,-,2:00:58,2:20:41,0:05:43,NaN,2:29:53,22,22,21
5531,5531,51,"Mindel, Scott",31,M,Burlington,MA,USA,NaN,NaN,...,1:25:48,1:44:01,2:02:40,2:22:41,0:05:50,NaN,2:32:48,30,30,29
5532,5532,137,"Zhou, Fan",29,M,Boston,MA,USA,NaN,NaN,...,1:29:32,1:47:44,2:06:08,2:24:28,0:05:50,NaN,2:32:50,31,31,30
5533,5533,469,"Sanseverino, Cole",29,M,Boston,MA,USA,NaN,NaN,...,1:28:25,1:46:12,2:04:01,2:22:55,0:05:51,NaN,2:32:58,33,33,32
5534,5534,563,"Lemon, Nicholas",25,M,Brighton,MA,USA,NaN,NaN,...,1:27:35,1:45:48,2:04:34,2:23:59,0:05:51,NaN,2:33:07,34,34,33
5535,5535,227,"Roosa, Nicholas",32,M,Greenfield,MA,USA,NaN,NaN,...,1:29:22,1:47:57,2:07:02,2:26:39,0:05:57,NaN,2:35:59,61,61,57
5536,5536,124,"Allen, Christopher",24,M,Norfolk,MA,USA,NaN,NaN,...,1:28:50,1:47:13,2:06:49,2:27:24,0:05:59,NaN,2:36:27,68,68,63
5537,5537,210,"Klecker, Jack",26,M,Boston,MA,USA,NaN,NaN,...,1:32:56,1:51:26,2:10:11,2:28:21,0:05:59,NaN,2:36:29,69,69,64
5538,5538,173,"Neill, Ian",33,M,Cambridge,MA,USA,NaN,NaN,...,1:30:07,1:49:01,2:08:32,2:28:03,0:05:59,NaN,2:36:33,72,72,67
5539,5539,703,"Hinrichsen, Erik",29,M,Boston,MA,USA,NaN,NaN,...,1:31:37,1:50:19,-,2:27:58,0:05:59,NaN,2:36:37,73,73,68
5540,5540,190,"Days-Merrill, Taylor",24,M,Fairhaven,MA,USA,NaN,NaN,...,1:30:01,1:49:15,2:09:02,2:28:16,0:05:59,NaN,2:36:41,76,76,71
5541,5541,385,"Dever, Shaun",31,M,Brighton,MA,USA,NaN,NaN,...,1:30:11,1:48:46,2:07:59,2:27:52,0:06:00,NaN,2:37:15,88,88,83
5542,5542,252,"Schouler, Brent",26,M,Hyannis,MA,USA,NaN,NaN,...,1:32:12,1:51:01,2:10:06,2:29:00,0:06:01,NaN,2:37:20,89,89,84
5543,5543,674,"Palmison, Ryan",33,M,Methuen,MA,USA,NaN,NaN,...,1:31:37,1:50:30,2:09:37,2:28:47,0:06:01,NaN,2:37:30,94,94,89
5544,5544,174,"Mendoza, Eric",33,M,Boston,MA,USA,NaN,NaN,...,1:31:30,1:50:03,2:08:53,2:28:09,0:06:01,NaN,2:37:34,97,97,91
5545,5545,2346,"Haneberg, Patrick",24,M,Cambridge,MA,USA,NaN,NaN,...,1:32:29,1:50:41,2:09:36,2:28:44,0:06:02,NaN,2:37:49,99,99,92
5546,5546,422,"Gabrielson, Chris",30,M,Chelmsford,MA,USA,NaN,NaN,...,1:32:23,1:51:34,2:10:54,2:29:49,0:06:02,NaN,2:37:54,100,100,93
5547,5547,416,"Washburn, Taylor",32,M,Gill,MA,USA,NaN,NaN,...,1:32:11,1:51:19,2:10:34,2:29:47,0:06:03,NaN,2:38:27,112,112,104
5548,5548,282,"Coates-Finke, Sam",24,M,Northampton,MA,USA,NaN,NaN,...,1:31:17,1:50:29,-,-,0:06:04,NaN,2:38:38,120,120,112
5549,5549,380,"Curley, Michael",23,M,North Attleboro,MA,USA,NaN,NaN,...,1:26:56,1:45:12,2:04:26,2:28:01,0:06:04,NaN,2:38:54,126,126,118
5550,5550,591,"Warren, William",25,M,Brighton,MA,USA,NaN,NaN,...,1:32:10,1:51:26,2:11:00,2:30:18,0:06:04,NaN,2:38:55,127,127,119
5551,5551,787,"Thomas, Malcolm",37,M,Boston,MA,USA,NaN,NaN,...,1:33:07,1:52:10,2:11:40,2:31:27,0:06:05,NaN,2:39:28,132,132,124
5552,5552,919,"Mcneil, Sean",26,M,Canton,MA,USA,NaN,NaN,...,1:34:39,1:53:28,2:12:32,2:31:34,0:06:08,NaN,2:40:30,145,144,134
5553,5553,1674,"Goldberg, Samuel",24,M,Cambridge,MA,USA,NaN,NaN,...,1:30:25,1:49:27,2:09:38,2:30:40,0:06:08,NaN,2:40:31,147,146,136
5554,5554,512,"Eiler, Ryan",32,M,Boston,MA,USA,NaN,NaN,...,1:29:11,1:47:54,2:07:40,2:28:55,0:06:08,NaN,2:40:35,149,148,137
5555,5555,236,"Klucznik, Christopher",35,M,Needham,MA,USA,NaN,NaN,...,-,1:52:05,2:11:44,2:31:40,0:06:08,NaN,2:40:46,153,152,141
5556,5556,942,"Burleigh, Isaac",27,M,Somerville,MA,USA,NaN,NaN,...,1:33:21,1:52:24,2:12:16,2:32:18,0:06:09,NaN,2:41:08,165,164,152
5557,5557,811,"Thomas, Ian",29,M,Cambridge,MA,USA,NaN,NaN,...,1:35:52,1:54:57,2:14:14,2:33:30,0:06:11,NaN,2:41:50,185,184,171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6500,6500,28797,"Booras, Mary",32,F,East Boston,MA,USA,NaN,NaN,...,2:14:50,2:44:26,3:16:10,3:49:12,0:09:15,NaN,4:02:09,16352,6400,3819
6501,6501,28337,"Lupien, Christopher",35,M,Arlington,MA,USA,NaN,NaN,...,2:16:38,2:45:41,3:16:09,3:48:04,0:09:15,NaN,4:02:11,16362,9958,3746
6502,6502,26233,"Sullivan, Amy",31,F,Boston,MA,USA,NaN,NaN,...,2:20:47,2:49:39,3:19:26,3:49:36,0:09:15,NaN,4:02:12,16364,6405,3821
6503,6503,30858,"Diamond, William",35,M,Brookline,MA,USA,NaN,NaN,...,2:19:20,2:48:15,3:17:05,3:47:25,0:09:15,NaN,4:02:12,16365,9960,3747
6504,6504,28200,"Francis, Jeffrey",24,M,Brighton,MA,USA,NaN,NaN,...,2:13:09,2:43:02,3:14:50,3:47:28,0:09:15,NaN,4:02:12,16369,9961,3748
6505,6505,28180,"Macdonald, Jason",38,M,Ashland,MA,USA,NaN,NaN,...,2:20:22,2:49:07,3:19:26,3:50:09,0:09:15,NaN,4:02:13,16371,9962,3749
6506,6506,27012,"Demello, Joseph",20,M,Taunton,MA,USA,NaN,NaN,...,2:05:32,2:33:03,3:08:47,3:46:22,0:09:15,NaN,4:02:21,16394,9971,3752
6507,6507,25354,"Adler, Danielle",28,F,Boston,MA,USA,NaN,NaN,...,2:21:51,2:50:57,-,3:50:16,0:09:15,NaN,4:02:21,16395,6424,3825
6508,6508,27313,"Scinto, Sara",24,F,Jamaica Plain,MA,USA,NaN,NaN,...,2:21:20,2:50:35,3:20:15,3:50:08,0:09:15,NaN,4:02:30,16420,6436,3827
6509,6509,27393,"Diercks, Emily",39,F,Charlestown,MA,USA,NaN,NaN,...,2:20:05,2:49:29,3:21:04,3:50:26,0:09:16,NaN,4:02:34,16431,6444,3831
6510,6510,31239,"Olinto, Melanie",39,F,Boston,MA,USA,NaN,NaN,...,2:16:18,2:46:43,3:18:40,3:49:40,0:09:16,NaN,4:02:34,16434,6446,3833
6511,6511,25294,"Otieno, Megan",37,F,Dorchester,MA,USA,NaN,NaN,...,2:20:41,2:50:19,3:20:16,3:49:48,0:09:16,NaN,4:02:38,16451,6456,3836
6512,6512,25951,"Sheetz, Maggie",23,F,Topsfield,MA,USA,NaN,NaN,...,2:20:33,2:49:54,3:19:13,3:49:24,0:09:16,NaN,4:02:39,16453,6458,3837
6513,6513,27236,"Lemire, Kate",23,F,Scituate,MA,USA,NaN,NaN,...,2:20:33,2:49:54,3:19:13,3:49:23,0:09:16,NaN,4:02:39,16454,6459,3838
6514,6514,16934,"Mroz, Kathleen",28,F,Brighton,MA,USA,NaN,NaN,...,2:09:00,2:39:31,3:13:34,-,0:09:16,NaN,4:02:49,16495,6483,3845
6515,6515,31103,"Grant, Brian",33,M,Canton,MA,USA,NaN,NaN,...,2:17:13,2:46:45,3:18:12,3:49:13,0:09:16,NaN,4:02:53,16504,10016,3757
6516,6516,28519,"Laurencelle, Renee",24,F,Tyngsboro,MA,USA,NaN,NaN,...,2:16:07,2:48:41,3:20:23,3:50:06,0:09:17,NaN,4:03:01,16528,6503,3852
6517,6517,2013,"Yao, Guoxing",36,M,Winchester,MA,USA,CHN,NaN,...,1:47:49,2:14:02,2:46:18,-,0:09:17,NaN,4:03:04,16533,10027,3758
6518,6518,26603,"Snider, Emily",24,F,Boston,MA,USA,NaN,NaN,...,2:18:17,2:47:39,3:18:26,3:49:29,0:09:17,NaN,4:03:06,16541,6511,3854
6519,6519,29399,"Burns, Stephanie",25,F,Boston,MA,USA,NaN,NaN,...,2:16:45,-,-,3:48:52,0:09:17,NaN,4:03:06,16542,6512,3855
6520,6520,31098,"Johnson, Ken",38,M,Dighton,MA,USA,NaN,NaN,...,2:19:57,-,-,3:49:43,0:09:17,NaN,4:03:07,16546,10031,3759
6521,6521,25406,"Caswell, Frederick",30,M,Ashburnham,MA,USA,NaN,NaN,...,2:23:48,2:51:57,3:20:34,3:50:59,0:09:17,NaN,4:03:09,16551,10034,3760
6522,6522,27282,"Kalb, Stephanie",35,F,Carlisle,MA,USA,NaN,NaN,...,2:18:19,-,3:19:15,3:49:52,0:09:17,NaN,4:03:14,16565,6522,3859
6523,6523,27344,"Rafferty, Julia",27,F,Reading,MA,USA,NaN,NaN,...,2:15:35,2:44:50,3:17:38,3:49:36,0:09:17,NaN,4:03:15,16568,6524,3860
6524,6524,27898,"Rubert, Sydney",28,F,Boston,MA,USA,CAN,NaN,...,2:17:50,2:47:26,3:18:52,3:49:46,0:09:17,NaN,4:03:15,16570,6525,3861
6525,6525,25618,"Cavanaugh, Cathleen",32,F,Brookline,MA,USA,NaN,NaN,...,2:22:28,-,3:21:20,3:50:09,0:09:17,NaN,4:03:17,16574,6528,3863
6526,6526,28639,"Wells, Kevin",25,M,Woburn,MA,USA,NaN,NaN,...,-,2:47:11,-,3:50:03,0:09:17,NaN,4:03:19,16578,10048,3762
6527,6527,28896,"Hobin, Michelle",34,F,Dorchester,MA,USA,NaN,NaN,...,2:18:24,2:48:37,3:19:23,3:50:01,0:09:18,NaN,4:03:29,16603,6547,3868
16829,16829,17236,"Lobo Navarro, Gilbert",60,M,Sharon,MA,CRC,NaN,NaN,...,2:01:16,2:30:19,3:04:24,3:39:33,0:09:00,NaN,3:55:46,14867,9320,291
17607,17607,29375,"O'Gorman, Gerard",28,M,Waltham,MA,IRL,NaN,NaN,...,2:06:57,2:33:51,3:01:55,3:29:59,0:08:27,NaN,3:41:23,11132,7700,3379

In [10]:
print(df17.shape)
df17.head()

(26410, 25)

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,...,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,0,11,"Kirui, Geoffrey",24,M,Keringet,NaN,KEN,NaN,NaN,...,1:16:59,1:33:01,1:48:19,2:02:53,0:04:57,-,2:09:37,1,1,1
1,1,17,"Rupp, Galen",30,M,Portland,OR,USA,NaN,NaN,...,1:16:59,1:33:01,1:48:19,2:03:14,0:04:58,-,2:09:58,2,2,2
2,2,23,"Osako, Suguru",25,M,Machida-City,NaN,JPN,NaN,NaN,...,1:17:00,1:33:01,1:48:31,2:03:38,0:04:59,-,2:10:28,3,3,3
3,3,21,"Biwott, Shadrack",32,M,Mammoth Lakes,CA,USA,NaN,NaN,...,1:17:00,1:33:01,1:48:58,2:04:35,0:05:03,-,2:12:08,4,4,4
4,4,9,"Chebet, Wilson",31,M,Marakwet,NaN,KEN,NaN,NaN,...,1:16:59,1:33:01,1:48:41,2:05:00,0:05:04,-,2:12:35,5,5,5

In [26]:
df17[df17['State'] == 'MA']

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,...,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
10,10,22,"Quigley, Sean",32,M,Braintree,MA,USA,NaN,NaN,...,1:18:20,1:34:58,1:51:55,2:08:10,0:05:11,-,2:15:34,11,11,10
19,19,31,"Harvey, Brian",29,M,Boston,MA,USA,NaN,NaN,...,1:21:45,1:38:34,1:55:48,2:12:51,0:05:22,-,2:20:18,20,20,17
22,22,101,"Mindel, Scott",30,M,Arlington,MA,USA,NaN,NaN,...,1:23:19,1:40:09,1:57:20,2:14:34,0:05:27,-,2:22:32,23,22,18
25,25,182,"Place, Ryan J",31,M,Cambridge,MA,USA,NaN,NaN,...,1:23:13,1:40:12,1:57:40,2:15:14,0:05:28,-,2:23:05,26,23,19
27,27,28,"Ashe, Eric",28,M,Boston,MA,USA,NaN,NaN,...,1:23:29,1:40:14,1:57:24,2:15:27,0:05:29,-,2:23:26,28,25,21
31,31,54,"Ayr, Jason M.",29,M,Allston,MA,USA,NaN,NaN,...,1:23:19,1:40:15,1:58:09,2:16:27,0:05:32,-,2:24:49,32,29,25
38,38,123,"Carpenter, Joseph K.",27,M,Cambridge,MA,USA,NaN,NaN,...,1:26:16,1:43:21,2:00:54,2:18:49,0:05:36,-,2:26:40,39,35,29
47,47,56,"Fischer, Matthew",24,M,Brighton,MA,USA,NaN,NaN,...,1:21:58,1:40:14,1:59:34,2:19:11,0:05:40,-,2:28:18,48,43,36
57,57,219,"Taylor, Alexander J.",37,M,Lincoln,MA,USA,NaN,NaN,...,1:27:17,1:46:04,2:04:26,2:22:25,0:05:44,-,2:30:19,58,52,44
65,65,248,"Gilmore, Peter",27,M,Boston,MA,USA,NaN,NaN,...,1:26:56,1:44:54,2:03:28,2:22:28,0:05:47,-,2:31:13,66,59,49
79,79,157,"Neill, Ian",32,M,Cambridge,MA,USA,NaN,NaN,...,1:28:36,1:47:22,2:06:17,2:24:56,0:05:50,-,2:32:51,80,71,59
82,82,205,"Klecker, Jack R",25,M,Boston,MA,USA,NaN,NaN,...,1:30:54,1:49:00,2:07:06,2:25:08,0:05:51,-,2:33:12,83,74,62
85,85,158,"Kinley, Jordan",32,M,Salem,MA,USA,NaN,NaN,...,1:27:42,1:46:08,2:05:08,2:24:41,0:05:52,-,2:33:27,86,76,64
89,89,173,"Metzger, David W",30,M,Roslindale,MA,USA,NaN,NaN,...,1:27:16,1:45:26,2:04:58,2:25:53,0:05:53,-,2:34:01,90,80,68
102,102,136,"Nurse, Ian",39,M,Brookline,MA,USA,NaN,NaN,...,1:29:43,1:48:29,2:07:53,2:27:20,0:05:57,-,2:35:41,103,91,78
118,118,156,"Hyland, Sean P.",32,M,Andover,MA,USA,NaN,NaN,...,1:29:44,1:48:29,2:07:54,2:28:03,0:05:59,-,2:36:33,119,104,90
127,127,496,"Norcross, Robert A III",35,M,Mansfield,MA,USA,NaN,NaN,...,1:32:45,1:51:26,2:10:17,2:28:45,0:06:00,-,2:37:00,128,112,97
137,137,29,"Serafini, Louis",25,M,Brighton,MA,USA,NaN,NaN,...,1:22:07,1:41:01,2:02:40,2:26:25,0:06:02,-,2:37:49,138,121,104
147,147,F22,"Costello, Liz",29,F,Brighton,MA,USA,NaN,NaN,...,1:31:20,1:50:13,2:09:42,2:29:55,0:06:03,-,2:38:21,148,18,17
157,157,F31,"Duhon, Madeline",28,F,Cambridge,MA,USA,NaN,NaN,...,1:31:54,1:50:53,2:10:25,2:29:53,0:06:04,-,2:38:44,158,19,18
162,162,3816,"McArthur, Scott D.",27,M,Cambridge,MA,USA,NaN,NaN,...,1:33:02,1:51:55,2:11:34,2:30:40,0:06:04,-,2:38:53,163,143,122
169,169,588,"Deeg, Thomas J",36,M,Marstons Mills,MA,USA,NaN,NaN,...,1:32:08,1:51:36,2:11:27,2:30:47,0:06:05,-,2:39:16,170,150,128
174,174,281,"Pierce, Clayton J.",25,M,Boston,MA,USA,NaN,NaN,...,1:30:56,1:50:10,2:09:54,2:30:14,0:06:06,-,2:39:32,175,155,133
178,178,1071,"Samland, Marc C",23,M,Cambridge,MA,USA,NaN,NaN,...,1:35:40,1:54:11,2:12:42,2:31:27,0:06:06,-,2:39:38,179,159,137
180,180,191,"Zhou, Fan",28,M,Boston,MA,USA,NaN,NaN,...,1:30:06,1:50:00,2:10:18,2:30:39,0:06:06,-,2:39:40,181,161,138
182,182,334,"Battoo, Christopher",29,M,Boston,MA,USA,TRI,NaN,...,1:32:48,1:52:20,2:12:22,2:31:36,0:06:06,-,2:39:54,183,163,140
190,190,479,"Lindenauer, Jon",29,M,N. Billerica,MA,USA,NaN,NaN,...,1:31:18,1:50:47,2:10:30,2:31:40,0:06:07,-,2:40:17,191,169,146
199,199,473,"Guzick, William F",28,M,Boston,MA,USA,NaN,NaN,...,1:31:03,1:51:10,2:11:45,2:31:46,0:06:08,-,2:40:43,200,178,153
202,202,902,"Caron, Patrick",19,M,Needham,MA,USA,NaN,NaN,...,1:33:25,1:53:20,2:12:31,2:32:13,0:06:08,-,2:40:45,203,181,156
205,205,311,"Curley, Stephen",24,M,Norwood,MA,USA,NaN,NaN,...,1:33:14,1:52:20,2:11:56,2:32:31,0:06:09,-,2:40:54,206,184,159
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26328,26328,30353,"MacDonald, Grace C.",18,F,Marblehead,MA,USA,NaN,NaN,...,3:15:46,4:06:30,4:54:08,5:46:00,0:13:52,-,6:03:14,26330,11935,5832
26329,26329,30363,"Smith, Shannon",19,F,Franklin,MA,USA,NaN,NaN,...,3:15:15,4:06:30,4:54:07,5:45:59,0:13:52,-,6:03:14,26331,11936,5833
26330,26330,27428,"Santiago, Jibreel",24,M,Beverly,MA,USA,NaN,NaN,...,3:16:11,4:03:48,4:52:08,5:41:32,0:13:52,-,6:03:16,26332,14396,4762
26332,26332,30269,"Enista, Katie M.",32,F,Boston,MA,USA,CAN,NaN,...,3:11:00,4:01:13,4:53:41,5:47:31,0:13:52,-,6:03:26,26334,11937,5834
26333,26333,29683,"Digloria, Celeste",28,F,South Easton,MA,USA,NaN,NaN,...,3:30:20,4:18:24,5:08:41,5:48:08,0:13:52,-,6:03:33,26335,11938,5835
26337,26337,25311,"Rosenblum, Marc A.",45,M,Littleton,MA,USA,NaN,NaN,...,3:15:41,4:03:48,4:55:57,5:44:20,0:13:53,-,6:03:46,26339,14400,2547
26338,26338,28999,"Iovino, Katie",33,F,Malden,MA,USA,NaN,NaN,...,3:24:21,4:11:49,4:58:40,5:44:30,0:13:53,-,6:03:47,26340,11940,5837
26339,26339,26901,"Phaneuf, Christine",46,F,Charlestown,MA,USA,NaN,NaN,...,3:29:55,4:15:55,4:59:16,5:44:16,0:13:54,-,6:04:03,26341,11941,1858
26342,26342,26780,"Shannon, Colleen M.",38,F,Quincy,MA,USA,NaN,NaN,...,3:24:30,4:11:37,4:58:50,5:46:25,0:13:54,-,6:04:09,26344,11944,5838
26343,26343,27779,"Lo Conte, Jeffrey",47,M,Chelmsford,MA,USA,NaN,NaN,...,3:15:55,4:06:49,4:59:00,5:46:13,0:13:54,-,6:04:15,26345,14401,2548
26344,26344,28474,"Strong, Cindy S.",45,F,Middleboro,MA,USA,NaN,NaN,...,3:36:47,4:21:24,5:06:06,5:47:44,0:13:54,-,6:04:16,26346,11945,1859
26346,26346,26238,"Al-Baidhani, Wisam M.",34,M,Worcester,MA,USA,NaN,NaN,...,3:16:08,4:07:50,4:55:55,5:43:25,0:13:55,-,6:04:37,26348,14403,4763
26347,26347,26588,"McLaughlin, Megan",28,F,Salem,MA,USA,NaN,NaN,...,3:30:32,4:15:04,5:01:01,5:45:39,0:13:55,-,6:04:45,26349,11946,5839
26350,26350,27123,"Burhart, Carolyn N.",43,F,Plainville,MA,USA,NaN,NaN,...,3:25:10,4:11:01,5:01:20,5:47:21,0:13:57,-,6:05:19,26352,11948,1849
26351,26351,25683,"Hendrickson, Cherie",31,F,Burlington,MA,USA,NaN,NaN,...,3:14:31,4:04:34,4:55:53,5:45:52,0:13:57,-,6:05:20,26353,11949,5840
26353,26353,25753,"Hagerty, Heather K.",43,F,Somerville,MA,USA,NaN,NaN,...,3:21:37,4:08:55,5:02:42,5:46:11,0:13:57,-,6:05:44,26355,11951,1850
26354,26354,25699,"McKenna, Robert C.",45,M,Milton,MA,USA,NaN,NaN,...,3:27:57,4:14:28,5:01:37,5:46:50,0:13:58,-,6:05:51,26356,14405,2549
26355,26355,29952,"Botte, Shannon",36,F,Lynn,MA,USA,NaN,NaN,...,3:30:00,4:18:49,5:06:33,5:48:54,0:13:58,-,6:05:51,26357,11952,5842
26356,26356,25944,"Ferreira, Silvino M.",53,M,Andover,MA,USA,NaN,NaN,...,3:26:38,4:11:42,5:01:25,5:47:22,0:13:58,-,6:06:01,26358,14406,1942
26359,26359,27077,"Davies, Adam D.",42,M,Plymouth,MA,USA,NaN,NaN,...,3:17:35,4:05:40,4:57:53,5:45:33,0:13:58,-,6:06:03,26361,14408,1986
26363,26363,25391,"Coughlin, Molly E.",25,F,Framingham,MA,USA,NaN,NaN,...,3:23:15,4:08:42,5:00:00,5:47:34,0:13:59,-,6:06:15,26365,11955,5843
26365,26365,28102,"Lucey, Cameron J.",24,M,Tyngsboro,MA,USA,NaN,NaN,...,3:14:37,4:04:23,4:57:22,5:49:09,0:13:59,-,6:06:31,26367,14411,4764
26366,26366,25882,"Cadavid, Carolina I.",27,F,Brighton,MA,USA,NaN,NaN,...,3:27:10,4:12:38,4:59:01,5:46:52,0:14:00,-,6:06:52,26368,11957,5844
26367,26367,27218,"Tavares, Eric M.",41,M,Fall River,MA,USA,NaN,NaN,...,3:03:40,3:49:09,4:47:02,5:43:02,0:14:00,-,6:06:54,26369,14412,1987
26375,26375,25181,"Young, John D.",51,M,Salem,MA,USA,NaN,MI,...,3:27:24,4:14:02,5:02:34,5:48:37,0:14:04,-,6:08:47,26377,14415,1944
26380,26380,25779,"Nijensohn, Lynda A.",42,F,Wellesley,MA,USA,NaN,NaN,...,3:04:43,3:58:21,4:55:14,5:47:30,0:14:06,-,6:09:38,26382,11966,1853
26385,26385,26889,"Welch, Jennifer E.",37,F,Boston,MA,USA,NaN,NaN,...,3:22:39,4:15:26,5:07:51,5:55:05,0:14:21,-,6:16:04,26387,11969,5846
26386,26386,26873,"Wolff, Eli A.",39,M,Newton,MA,USA,NaN,MI,...,3:22:41,4:15:28,5:07:54,5:55:08,0:14:21,-,6:16:05,26388,14419,4768
26392,26392,10603,"Ferry, J. Alain",45,M,Boston,MA,USA,NaN,NaN,...,3:48:42,4:37:42,5:23:30,6:07:21,0:14:45,-,6:26:31,26394,14425,2551
26397,26397,15536,"Coffman, Steven D.",69,M,East Sandwich,MA,USA,NaN,NaN,...,3:46:48,4:43:52,5:37:23,6:24:02,0:15:21,-,6:42:04,26399,14429,425

In [14]:
df17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26410 entries, 0 to 26409
Data columns (total 25 columns):
Unnamed: 0       26410 non-null int64
Bib              26410 non-null object
Name             26410 non-null object
Age              26410 non-null int64
M/F              26410 non-null object
City             26410 non-null object
State            22815 non-null object
Country          26410 non-null object
Citizen          1254 non-null object
Unnamed: 9       91 non-null object
5K               26410 non-null object
10K              26410 non-null object
15K              26410 non-null object
20K              26410 non-null object
Half             26410 non-null object
25K              26410 non-null object
30K              26410 non-null object
35K              26410 non-null object
40K              26410 non-null object
Pace             26410 non-null object
Proj Time        26410 non-null object
Official Time    26410 non-null object
Overall          26410 non-null int64
Gender           26410 non-null int64
Division         26410 non-null int64
dtypes: int64(5), object(20)
memory usage: 5.0+ MB

In [17]:
df17['Unnamed: 9'].value_counts()

VI    54
MI    37
Name: Unnamed: 9, dtype: int64

In [11]:
print(df16.shape)
df16.head()

(26630, 24)

,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 8,5K,...,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,5,"Hayle, Lemi Berhanu",21,M,Addis Ababa,NaN,ETH,NaN,NaN,0:15:47,...,1:19:15,1:34:17,1:50:24,2:05:59,0:05:04,2:12:45,2:12:45,1,1,1
1,1,"Desisa, Lelisa",26,M,Ambo,NaN,ETH,NaN,NaN,0:15:47,...,1:19:15,1:34:17,1:50:24,2:05:59,0:05:06,2:13:32,2:13:32,2,2,2
2,6,"Tsegay, Yemane Adhane",31,M,Addis Ababa,NaN,ETH,NaN,NaN,0:15:46,...,1:19:15,1:34:45,1:50:48,2:06:47,0:05:07,2:14:02,2:14:02,3,3,3
3,11,"Korir, Wesley",33,M,Kitale,NaN,KEN,NaN,NaN,0:15:46,...,1:19:16,1:34:45,1:50:48,2:06:47,0:05:07,2:14:05,2:14:05,4,4,4
4,14,"Lonyangata, Paul",23,M,Eldoret,NaN,KEN,NaN,NaN,0:15:46,...,1:19:18,1:34:46,1:51:30,2:08:11,0:05:11,2:15:45,2:15:45,5,5,5

In [12]:
print(df15.shape)
df15.head()

(26598, 25)

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,...,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,NaN,...,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,-,2:09:17,1,1,1
1,1,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,NaN,...,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,-,2:09:48,2,2,2
2,2,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,NaN,...,1:16:07,1:32:00,1:47:59,2:03:01,0:04:59,-,2:10:22,3,3,3
3,3,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,NaN,...,1:16:07,1:32:00,1:48:03,2:03:47,0:05:00,-,2:10:47,4,4,4
4,4,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,NaN,...,1:16:07,1:32:00,1:47:59,2:03:27,0:05:00,-,2:10:49,5,5,5