In [1]:
import pandas as pd

# create dummies for Gender and countries

In [17]:
df15 = pd.read_csv('data/marathon_results_2015.csv')
df16 = pd.read_csv('data/marathon_results_2016.csv')
df17 = pd.read_csv('data/marathon_results_2017.csv')
df18 = pd.read_csv('data/marathon_results_2018.csv')
df18.rename(columns={'Blank': 'Unnamed'}, inplace = True)
print(df18.shape)
df18.head()

(24087, 26)

,Unnamed: 0,Unnamed: 0.1,Bib,Name,Age,M/F,City,State,Country,Citizen,...,25K,30K,35K,40K,Pace,Proj. Time,Official Time,Overall,Gender,Division
0,0,0,189,"Ash, Alan",26,M,Atmore,AL,USA,NaN,...,1:31:16,1:50:19,2:09:22,2:28:08,0:05:58,NaN,2:36:04,63,63,59
1,1,1,855,"Goodman, John Mark",38,M,Birmingham,AL,USA,NaN,...,1:34:33,1:53:49,2:13:27,2:33:06,0:06:11,NaN,2:41:52,187,186,173
2,2,2,1049,"Mcclung, Joshua",34,M,Birmingham,AL,USA,NaN,...,1:35:31,1:55:14,2:15:14,2:34:45,0:06:15,NaN,2:43:42,247,246,226
3,3,3,303,"Graham, James",26,M,Birmingham,AL,USA,NaN,...,1:33:09,1:52:29,2:13:49,2:37:17,0:06:23,NaN,2:47:07,385,377,346
4,4,4,5267,"Pierce, Nathaniel",31,M,Huntsville,AL,USA,NaN,...,1:40:23,2:00:42,2:21:22,2:41:26,0:06:30,NaN,2:50:19,608,593,536

In [18]:
import numpy as np

def seconds_converter(time):
    '''Takes a time in the string form '00:00:00' and converts it into integer 
    of seconds.  Handles special '-' cases and converts them to NaNs '''
    
    if time == '-':
        return np.nan
    
    time_split = [int(x) for x in(time.split(':'))]
    return time_split[0]*(60**2) + time_split[1]*60 + time_split[2] 

def best_fit_slope(x,y):
    '''Calculate the best fit slope for all 5K splits.'''
    m = (((x.mean()*y.mean()) - (x*y).mean()) / 
         (x.mean()**2 - (x**2).mean()))
    return round(m, 2)


def race_slope(row):
    '''Create a new column of the race progression slope.'''
    nK_splits = ['5K', '10K', '15K', '20K', '25K', '30K', '35K', '40K']
    x = np.array([5, 10, 15, 20, 25, 30, 35, 40])
    y = np.array([row['5K']] + list(np.diff(row[nK_splits])))
    
    return best_fit_slope(x,y)

def add_weather_data(df, year):
    '''Add the weather data for the corresponding year.'''
    
    year = int(year)
    median = df['Official Time'].median()/3600

    pre_median_2015 = {'temp': 48, 'dew_point': 39, 'humidity': 0.71, 'wind': 17, 'gusts': 26}
    post_median_2015 = {'temp': 44, 'dew_point': 41, 'humidity': 0.89,'wind': 16, 'gusts': 0}
    pre_median_2016 = {'temp': 64, 'dew_point': 31, 'humidity': 0.29, 'wind': 14, 'gusts': 22}
    post_median_2016 = {'temp': 53, 'dew_point': 37, 'humidity': 0.55, 'wind': 14, 'gusts': 0}
    pre_median_2017 = {'temp': 74, 'dew_point': 40, 'humidity': 0.29, 'wind': 21, 'gusts': 29}
    post_median_2017 = {'temp': 73, 'dew_point': 34, 'humidity': 0.24, 'wind': 22, 'gusts': 28}
    pre_median_2018 = {'temp': 45, 'dew_point': 43, 'humidity': 0.93, 'wind': 14, 'gusts': 23}
    post_median_2018 = {'temp': 44, 'dew_point': 44, 'humidity': 1.00, 'wind': 17, 'gusts': 0}
    
    new_cols = ['temp', 'dew_point', 'humidity', 'wind', 'gusts']
    
    for col in new_cols:
        if year == 2015:
            df[col] = [pre_median_2015[col] if x < median else post_median_2015[col] for x in df['Official Time']]
        elif year == 2016:
            df[col] = [pre_median_2016[col] if x < median else post_median_2016[col] for x in df['Official Time']]
        elif year == 2017:
            df[col] = [pre_median_2017[col] if x < median else post_median_2017[col] for x in df['Official Time']]
        else:
            df[col] = [pre_median_2018[col] if x < median else post_median_2018[col] for x in df['Official Time']]

    return df


def clean_data(df, year):
    '''Takes in a DataFrame, drops unnecessary columns, and applies seconds_converter. '''
    
    # drop unnecessary columns
    df.drop(list(df.filter(regex='Unnamed')), axis=1, inplace=True)
    df.drop(['Citizen', 'Proj. Time', 'City'], axis=1, inplace=True)
    
    # rename columns for clarity
    df.rename(columns={'Overall': 'overall_rank', 'Gender': 'gender_rank', 
                         'Division': 'division_rank', 'M/F': 'Gender'}, inplace = True)
    
    # convert the time to seconds on these columns
    time_cols = ['5K', '10K', '15K', '20K', 'Half', '25K', 
             '30K', '35K', '40K', 'Pace', 'Official Time']
    for col in time_cols:
        df[col] = df[col].apply(seconds_converter)
        
    # fill the State column with NaNs to 'none' instead so it can be 
    # concatenated with the country column
    df['State'].fillna('', inplace=True)
    df['state_country'] = df['State'] + '_' + df['Country']
    
    # create a new column progression_slope
    df['progression_slope'] = df.apply(race_slope, axis=1) 
    
    df = add_weather_data(df, year)
    
    df.drop(['State', 'Country', '5K', '10K', '15K', '20K', '25K', 
             '30K', '35K', '40K'], axis=1, inplace=True)
 
    return df

In [20]:
df18 = clean_data(df18, 2018)
df18.head()

,Bib,Name,Age,Gender,Half,Pace,Official Time,overall_rank,gender_rank,division_rank,state_country,progression_slope,temp,dew_point,humidity,wind,gusts
0,189,"Ash, Alan",26,M,4606.0,358,9364,63,63,59,AL_USA,1.84,44,44,1.0,17,0
1,855,"Goodman, John Mark",38,M,4788.0,371,9712,187,186,173,AL_USA,1.51,44,44,1.0,17,0
2,1049,"Mcclung, Joshua",34,M,4805.0,375,9822,247,246,226,AL_USA,1.98,44,44,1.0,17,0
3,303,"Graham, James",26,M,4713.0,383,10027,385,377,346,AL_USA,6.95,44,44,1.0,17,0
4,5267,"Pierce, Nathaniel",31,M,5079.0,390,10219,608,593,536,AL_USA,0.48,44,44,1.0,17,0

In [ ]:
median = df18['Official Time'].median()/3600




pre_median_2018 = {'temp': 45, 'dew point': 43, 'humidity': 0.93, 'wind': 14, 'gusts': 23}
post_median_2018 = {'temp': 44, 'dew point': 44, 'humidity': 1.00, 'wind': 17, 'gusts': 0}

df18['temp'] = [pre_median_2018['temp'] if x < median else post_median_2018['temp'] for x in df18['Official Time']]
df18['dew_point'] = [pre_median_2018['dew point'] if x < median else post_median_2018['dew point'] for x in df18['Official Time']]
df18['humidity'] = [pre_median_2018['humidity'] if x < median else post_median_2018['humidity'] for x in df18['Official Time']]
df18['wind'] = [pre_median_2018['wind'] if x < median else post_median_2018['wind'] for x in df18['Official Time']]
df18['gusts'] = [pre_median_2018['gusts'] if x < median else post_median_2018['gusts'] for x in df18['Official Time']]

df18.head()

In [14]:
def add_weather_data(df, year):
    '''Add the weather data for the corresponding year.'''

    median = df['Official Time'].median()/3600

    pre_median_2015 = {'temp': 48, 'dew_point': 39, 'humidity': 0.71, 'wind': 17, 'gusts': 26}
    post_median_2015 = {'temp': 44, 'dew_point': 41, 'humidity': 0.89,'wind': 16, 'gusts': 0}
    pre_median_2016 = {'temp': 64, 'dew_point': 31, 'humidity': 0.29, 'wind': 14, 'gusts': 22}
    post_median_2016 = {'temp': 53, 'dew_point': 37, 'humidity': 0.55, 'wind': 14, 'gusts': 0}
    pre_median_2017 = {'temp': 74, 'dew_point': 40, 'humidity': 0.29, 'wind': 21, 'gusts': 29}
    post_median_2017 = {'temp': 73, 'dew_point': 34, 'humidity': 0.24, 'wind': 22, 'gusts': 28}
    pre_median_2018 = {'temp': 45, 'dew_point': 43, 'humidity': 0.93, 'wind': 14, 'gusts': 23}
    post_median_2018 = {'temp': 44, 'dew_point': 44, 'humidity': 1.00, 'wind': 17, 'gusts': 0}
    
    new_cols = ['temp', 'dew_point', 'humidity', 'wind', 'gusts']
    
    for col in new_cols:
        if year == 2015:
            df[col] = [pre_median_2015[col] if x < median else post_median_2015[col] for x in df['Official Time']]
        elif year == 2016:
            df[col] = [pre_median_2016[col] if x < median else post_median_2016[col] for x in df['Official Time']]
        elif year == 2017:
            df[col] = [pre_median_2017[col] if x < median else post_median_2017[col] for x in df['Official Time']]
        else:
            df[col] = [pre_median_2018[col] if x < median else post_median_2018[col] for x in df['Official Time']]

    return df

In [15]:
add_weather_data(df18, 2018)

,Bib,Name,Age,Gender,Half,Pace,Official Time,overall_rank,gender_rank,division_rank,state_country,progression_slope,temp,dew_point,humidity,wind,gusts
0,189,"Ash, Alan",26,M,4606.0,358,9364,63,63,59,AL_USA,1.84,44,44,1.0,17,0
1,855,"Goodman, John Mark",38,M,4788.0,371,9712,187,186,173,AL_USA,1.51,44,44,1.0,17,0
2,1049,"Mcclung, Joshua",34,M,4805.0,375,9822,247,246,226,AL_USA,1.98,44,44,1.0,17,0
3,303,"Graham, James",26,M,4713.0,383,10027,385,377,346,AL_USA,6.95,44,44,1.0,17,0
4,5267,"Pierce, Nathaniel",31,M,5079.0,390,10219,608,593,536,AL_USA,0.48,44,44,1.0,17,0
5,853,"Sillivant, Daniel",31,M,4741.0,399,10458,953,926,808,AL_USA,8.74,44,44,1.0,17,0
6,4962,"Malloy, Timothy",28,M,5227.0,400,10469,972,944,825,AL_USA,-0.34,44,44,1.0,17,0
7,1317,"Bradley, Owen",38,M,4990.0,403,10547,1137,1102,951,AL_USA,NaN,44,44,1.0,17,0
8,1271,"Neiman, John",43,M,4973.0,404,10574,1199,1162,113,AL_USA,NaN,44,44,1.0,17,0
9,2067,"Kidd, Elena",32,F,5263.0,404,10588,1227,42,39,AL_USA,0.01,44,44,1.0,17,0
10,1259,"Davis, Rachel",27,F,5306.0,405,10597,1249,43,40,AL_USA,-0.31,44,44,1.0,17,0
11,3434,"Graham, Jonathan",28,M,5123.0,411,10751,1656,1589,1311,AL_USA,5.80,44,44,1.0,17,0
12,5054,"Moser, Kelsey",25,F,NaN,413,10814,1857,78,73,AL_USA,NaN,44,44,1.0,17,0
13,5927,"Atkins, Brian",37,M,5375.0,419,10980,2260,2140,1690,AL_USA,2.41,44,44,1.0,17,0
14,1289,"Raborn, Joel",29,M,5174.0,420,10987,2275,2153,1700,AL_USA,6.69,44,44,1.0,17,0
15,2209,"Fleming, Mark",30,M,5237.0,423,11083,2512,2365,1830,AL_USA,6.34,44,44,1.0,17,0
16,6057,"Bush, Connor",29,M,5415.0,432,11320,3097,2872,2126,AL_USA,4.93,44,44,1.0,17,0
17,6114,"Michaels, Mary",34,F,5446.0,433,11346,3177,235,213,AL_USA,4.98,44,44,1.0,17,0
18,13882,"Chambers, Christina",30,F,5875.0,448,11730,4380,506,459,AL_USA,-0.19,44,44,1.0,17,0
19,10154,"Paull, Karlie",25,F,5656.0,448,11733,4390,511,463,AL_USA,3.57,44,44,1.0,17,0
20,3483,"Mayfield, Jason",39,M,5435.0,450,11793,4577,4014,2589,AL_USA,8.52,44,44,1.0,17,0
21,3228,"Schuffert, Eric",48,M,5553.0,452,11849,4757,4134,506,AL_USA,8.90,44,44,1.0,17,0
22,12815,"Howard, Donnelly",41,F,5836.0,455,11904,4974,697,45,AL_USA,2.66,44,44,1.0,17,0
23,8619,"Morgan, Cary",46,M,NaN,457,11963,5220,4441,598,AL_USA,8.33,44,44,1.0,17,0
24,15358,"Davis, Katie",36,F,NaN,458,12005,5397,837,749,AL_USA,0.62,44,44,1.0,17,0
25,15494,"Denning, Amanda",34,F,5984.0,459,12025,5470,870,774,AL_USA,NaN,44,44,1.0,17,0
26,6779,"White, Todd",53,M,5517.0,467,12226,6258,5110,356,AL_USA,12.80,44,44,1.0,17,0
27,17457,"Canty, Elizabeth",26,F,6006.0,467,12240,6326,1177,1018,AL_USA,NaN,44,44,1.0,17,0
28,8632,"Weimar, Christopher",56,M,6034.0,468,12258,6398,5196,114,AL_USA,1.52,44,44,1.0,17,0
29,10014,"Yesian, Bonnie",42,F,5969.0,469,12293,6545,1261,118,AL_USA,3.68,44,44,1.0,17,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24057,24820,"Akin, Joyce",62,F,8661.0,735,19260,24144,10711,320,TX_USA,21.30,44,44,1.0,17,0
24058,30979,"Sullivan, Terry",60,M,8467.0,776,20320,24812,13745,974,TX_USA,35.45,44,44,1.0,17,0
24059,27600,"Courtney, Tom",63,M,9538.0,779,20423,24867,13770,978,TX_USA,NaN,44,44,1.0,17,0
24060,29257,"Black, Dan",64,M,8774.0,806,21111,25186,13918,989,TX_USA,NaN,44,44,1.0,17,0
24061,26875,"Romney, John",61,M,9435.0,814,21319,25262,13957,994,TX_USA,NaN,44,44,1.0,17,0
24062,27957,"Ruzicka, Lawrence",61,M,9739.0,830,21751,25391,14013,1001,TX_USA,NaN,44,44,1.0,17,0
24063,24501,"Donelan, Michael",68,M,7078.0,555,14543,16397,9973,85,TX_USA,4.45,44,44,1.0,17,0
24064,22331,"Ahnberg, Loren",66,M,NaN,569,14909,17470,10414,115,TX_USA,9.09,44,44,1.0,17,0
24065,24954,"Vaughn, Sharon",65,F,7228.0,573,15021,17779,7236,4,TX_USA,5.76,44,44,1.0,17,0
24066,23397,"Lusk, Mark",68,M,7394.0,581,15212,18296,10767,135,TX_USA,4.56,44,44,1.0,17,0
24067,24205,"Brown, Daniel",67,M,7233.0,588,15416,18823,11007,158,TX_USA,9.21,44,44,1.0,17,0
24068,15530,"Jayson, Stephen",65,M,6905.0,601,15741,19564,11309,191,TX_USA,19.32,44,44,1.0,17,0
24069,24341,"Rusch, Dorothy",68,F,7531.0,605,15845,19795,8382,10,TX_USA,8.41,44,44,1.0,17,0
24070,24244,"Marshall, William",65,M,NaN,608,15937,20005,11508,200,TX_USA,NaN,44,44,1.0,17,0
24071,24089,"Blechschmidt, Ed",65,M,NaN,613,16059,20254,11623,210,TX_USA,NaN,44,44,1.0,17,0
24072,24366,"Kwan, Raymond",65,M,7430.0,614,16090,20313,11649,212,TX_USA,12.84,44,44,1.0,17,0
24073,24032,"Kim, Eunsup",65,M,7850.0,621,16275,20664,11823,236,TX_USA,4.90,44,44,1.0,17,0
24074,24514,"White, Hudon",65,M,7619.0,622,16306,20708,11843,238,TX_USA,NaN,44,44,1.0,17,0
24075,25027,"Walberg, Maria",67,F,NaN,649,17005,21765,9446,31,TX_USA,7.92,44,44,1.0,17,0
24076,24622,"Chow, Andrew",68,M,NaN,661,17330,22187,12495,312,TX_USA,NaN,44,44,1.0,17,0
24077,24047,"Dewar, Walter",68,M,7666.0,683,17889,22907,12867,349,TX_USA,NaN,44,44,1.0,17,0
24078,24836,"Litoborski, Roberta",65,F,7998.0,733,19194,24085,10682,82,TX_USA,30.22,44,44,1.0,17,0
24079,15548,"Haberle, Fred",66,M,NaN,757,19827,24530,13602,398,TX_USA,26.11,44,44,1.0,17,0
24080,26910,"Leos, Fernando",67,M,9633.0,888,23274,25660,14119,446,TX_USA,38.50,44,44,1.0,17,0
24081,24642,"Burns, Lenord",71,M,7971.0,646,16913,21648,12268,46,TX_USA,NaN,44,44,1.0,17,0
24082,24542,"Puckett, Steve",70,M,8043.0,666,17439,22326,12571,56,TX_USA,NaN,44,44,1.0,17,0
24083,24752,"Boyers, William",71,M,7967.0,682,17877,22893,12861,69,TX_USA,22.20,44,44,1.0,17,0
24084,24639,"Lastimosa, Augusto",70,M,8779.0,716,18751,23752,13259,90,TX_USA,13.82,44,44,1.0,17,0
24085,25085,"Thompson, Susan",71,F,10036.0,818,21439,25291,11321,28,TX_USA,15.95,44,44,1.0,17,0
24086,24814,"Furnival, Thomas",76,M,8311.0,740,19401,24252,13482,13,TX_USA,29.77,44,44,1.0,17,0